
{% extends "base.html"%}
{% block container%}
<script src="/static/js/posts.js"></script>
<div class="contaniner">
    <div class="jumbotron text-center mb-0">
    <h1>Bulletin Board System</h1></div>
<!------------------------------------------------>
{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
{% else %}
<a class="nav-link" href="{% url 'common:login' %}">로그인</a>
{% endif %}
<!------------------------------------------------>
    <div class="m-1"></div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">작성자</th>
            <th scope="col">제목</th>
            <th scope="col">수정</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts%}
        <tr>
            <th scope="row">{{post.id}}</th>
            <td>{{post.author}}</td>
            <td><a href="{%url 'posts:read' post.id%}">{{post.title}}</a></td>
            <td><a href="{%url 'posts:upgrade' post.id%}" class="btn btn-warning">수정</a></td>
            <td><a href="{%url 'posts:delete' post.id %}" class="btn btn-danger">삭제</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="new_post()">새글작성</button>

</div>
{% endblock%}